$color-primary: #546130;
$color-primary-dark: #2d3b09;

$color-neutral-low-pure: #000000;
$color-neutral-low-dark: #333333;
$color-neutral-low-medium: #343434;
$color-neutral-low-light: #454545;
$color-neutral-low-lightest: #707070;

$color-neutral-high-pure: #ffffff;
$color-neutral-high-medium: #6f6f6f;
$color-neutral-high-light: #bebebe;
$color-neutral-high-lightest: #d8d8d8;

$color-background-overlay: rgba(34,34,34,.75);