@use '@/styles/tools/convertPxToVh.scss' as *;

$spacing-nano: 4;
$spacing-xxxs: 8;
$spacing-xxs: 12;
$spacing-xs: 16;
$spacing-sm: 20;
$spacing-md: 24;
$spacing-lg: 32;
$spacing-xl: 40;
$spacing-xxl: 52;
$spacing-xxxl: 64;

$spacing-px-nano: #{$spacing-nano}px;
$spacing-px-xxxs: #{$spacing-xxxs}px;
$spacing-px-xxs: #{$spacing-xxs}px;
$spacing-px-xs: #{$spacing-xs}px;
$spacing-px-sm: #{$spacing-sm}px;
$spacing-px-md: #{$spacing-md}px;
$spacing-px-lg: #{$spacing-lg}px;
$spacing-px-xl: #{$spacing-xl}px;
$spacing-px-xxl: #{$spacing-xxl}px;
$spacing-px-xxxl: #{$spacing-xxxl}px;

$spacing-vh-nano: pxvh($spacing-nano);
$spacing-vh-xxxs: pxvh($spacing-xxxs);
$spacing-vh-xxs: pxvh($spacing-xxs);
$spacing-vh-xs: pxvh($spacing-xs);
$spacing-vh-sm: pxvh($spacing-sm);
$spacing-vh-md: pxvh($spacing-md);
$spacing-vh-lg: pxvh($spacing-lg);
$spacing-vh-xl: pxvh($spacing-xl);
$spacing-vh-xxl: pxvh($spacing-xxl);
$spacing-vh-xxxl: pxvh($spacing-xxxl);